<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Employee</title>
</head>
<body>
    <h2>Add Employee</h2>
    <form >
        Employee Name: <input type="text"><br>
        Salary: <input type="text" ><br>
        Manager ID: <input type="text" ><br>
        Commission: <input type="text" ><br>
        Department No: <input type="text"><br>
        <input type="submit">
    </form>

    <table border="1">
        <tr>
            <th>Emp No</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Manager</th>
            <th>Commission</th>
            <th>Dept No</th>
        </tr>
        <tr>
            <td>67</td>
            <td>GDFG</td>
            <td>898</td>
            <td>UTYU</td>
            <td>7676</td>
            <td>10</td>
        </tr>
        
    </table>
</body>
</html>
